.mainContainer {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.mainTitle {
    font-weight: bold;
    margin-bottom: 4vh;
}

.btnsContainer {

    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.btn {
    width: 80%;
    height: 50px;
    padding: 20px;

    border: 2px solid white;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.2s ease-in;
}

.btn:hover {
    transform: scale(1.09);
}

.googleBtn {
    width: 11vw;

    display: flex;
    align-items: center;
    justify-content: start;

    cursor: pointer;
    color: white;
    border: 2px solid white;
    background-color: transparent;

    font-weight: bold;
    transition: transform 0.2s ease-in;
}

.googleBtn:hover {
    transform: scale(1.09);
}


.googleBtnLogo {
    width: 3vw;
    height: 100%;
    margin-right: 12px;

    border-radius: 4px 0px 0px 4px;
    object-fit: cover;
}